In [1]:
import pandas as pd

In [2]:
city_data = pd.read_csv("../City_zhvi_uc_sfrcondo_tier_0.33_0.67_sm_sa_month.csv")
city_data.head()

,RegionID,SizeRank,RegionName,RegionType,StateName,State,Metro,CountyName,1/31/2000,2/29/2000,...,7/31/2021,8/31/2021,9/30/2021,10/31/2021,11/30/2021,12/31/2021,1/31/2022,2/28/2022,3/31/2022,4/30/2022
0,6181,0,New York,City,NY,NY,New York-Newark-Jersey City,Queens County,252885.0,254706.0,...,716872.0,721839.0,727737.0,732735.0,736427.0,739231.0,743318.0,748195.0,754331.0,759901.0
1,12447,1,Los Angeles,City,CA,CA,Los Angeles-Long Beach-Anaheim,Los Angeles County,237820.0,238043.0,...,901800.0,915560.0,925407.0,928293.0,932714.0,938376.0,943426.0,952509.0,968695.0,988288.0
2,39051,2,Houston,City,TX,TX,Houston-The Woodlands-Sugar Land,Harris County,109356.0,109367.0,...,228205.0,233571.0,237682.0,241225.0,243648.0,246432.0,249375.0,252745.0,257112.0,261791.0
3,17426,3,Chicago,City,IL,IL,Chicago-Naperville-Elgin,Cook County,169115.0,169519.0,...,295982.0,299067.0,301141.0,303191.0,305794.0,308245.0,310569.0,311893.0,313825.0,315196.0
4,6915,4,San Antonio,City,TX,TX,San Antonio-New Braunfels,Bexar County,116095.0,116277.0,...,250323.0,256037.0,259865.0,263992.0,267665.0,272375.0,277137.0,281619.0,287346.0,293022.0

In [7]:
city_data.isnull().sum()

RegionID        0
SizeRank        0
RegionName      0
RegionType      0
StateName       0
             ...
12/31/2021    259
1/31/2022     170
2/28/2022     152
3/31/2022     100
4/30/2022       5
Length: 276, dtype: int64